/*
  ========================================
  General
  ========================================
*/
body {
  color: #295B70;
  background-color: #fff;
  background: linear-gradient(to right, #7aadbc, #fff 15%);
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 14px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  margin: 20px auto;
  width: 940px;
  background-color: #fff;
}

.text-content {
  margin-bottom: 50px;
  line-height: 1.5;
}

/*
  ========================================
  Header
  ========================================
*/
.header {
  padding: 20px;
  background-color: #2f7183;
  border-radius: 10px;
  color: #e0eef1;
}

.links-list {
  margin: 0;
  padding: 0;
}

.link {
  display: inline-block;
  padding: 10px;
  width: 180px;
  text-align: center;
  background-color: #4a8798;
  border-radius: 10px;
}

.link:hover {
  background-color: #1b5d70;
}

.doi {
  float: right;
  width: auto;
  background-color: #ec9934;
}

.doi img {
  vertical-align: -30%;
}

.doi:hover {
  background-color: #ca7812;
}

.link a {
  text-decoration: none;
  color: #fff;
}

/*
  ========================================
  About ERICA
  ========================================
*/
.logo {
  float: left;
  margin-bottom: 20px;
  margin-right: 20px;
  width: 200px;
}

/*
  ========================================
  App section
  ========================================
*/
.app-frame {
  position: relative;
  padding: 10px;
  background-color: #0a4859;
  border-radius: 10px;
}

.output-frame {
  position: relative;
  padding: 10px;
  color: #aee5f4;
}

.pond-frame {
  display: inline-block;
  width: 50%;
  position: relative;
  height: 225px;
  background-color: #7aadbc;
  background: linear-gradient(to top left, #523928 45%, transparent 45%),
        linear-gradient(#fff 10%,#396cf7 10%, #fff);
}

.items-frame {
  color: #aee5f4;
}

.organisms-frame {
  display: inline-block;
  width: 50%;
}

.control-item {
  display: inline-block;
  margin: 1px 2px;
  padding: 5px;
  border: 2px solid #7aadbc;
  border-radius: 5px;
}

.control-item input {
  float: right;
}

.organisms-frame .control-item {
  width: 49%;
}

.isotopes-frame .control-item {
  width: 11%;
}

.selected-item {
  background-color: #ce8c48;
  border-color: #023341;
  color: #112f46;
  font-weight: bold;
}

/* List of parameters */
.box {
  position: absolute;
  border: 2px solid;
  border-radius: 10px;
  background-color: #fff;
  padding: 10px;
  transition: 0.25s;
  cursor: pointer;
  overflow: auto;
}

.box:hover,
.box:focus {
  font-size: 110%;
}

.box-header {
  margin: 0;
}

.box-list {
  margin: 0;
  padding: 15px;
}

.left-box {
  bottom: 10px;
  left: 10px;
  top: 10px;
}

.right-box {
  bottom: 10px;
  right: 10px;
  top: 10px;
}

.top-left-box {
  left: 30%;
  top: 10px;
  border-radius: 50%;
}

.top-right-box {
  right: 30%;
  top: 10px;
  border-radius: 50%;
}

.bottom-right-box {
  bottom: 10px;
  right: 30%;
  border-radius: 50%;
}

.bottom-left-box {
  bottom: 10px;
  left: 30%;
  border-radius: 50%;
}

.input-box {
  position: absolute;
  left: 5px;
  right: 5px;
  top: 5px;
  background-color: #f8fcf9;
  border-radius: 10px;
  overflow: auto;
  padding: 10px;
}

.output-table {
  overflow: auto;
  margin-bottom: 20px;
  padding: 10px;
}

.output-table table {
  table-layout: fixed;
  border-collapse: collapse;
  border: 1px solid #aee5f4;
}

.output-table caption {
  padding: 10px;
  font-weight: bold;
  font-size: 115%;
}

.output-table thead th {
  width: 130px;
}

.output-table th,
.output-table td {
  padding: 5px;
  text-align: center;
  border: 1px solid #aee5f4;
}

.output-table tbody tr:nth-child(odd) {
  background-color: #023341;
}

.output-table thead,
.output-table tfoot {
  background-color: #011f28;
  font-weight: bold;
}
