/*
  ========================================
  General
  ========================================
*/
body {
    color: #295B70;
    background-color: #fff;
    background: linear-gradient(to right, #7aadbc, #fff 15%);
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
.container {
    width: 940px;
    margin: 20px auto;
    background-color: #fff;
}
section {
    margin-bottom: 50px;
}

/*
  ========================================
  Header
  ========================================
*/
.header {
    background-color: #2f7183;
    color: #e0eef1;
    padding: 20px;
    border-radius: 10px;
}
ul {
    margin: 0;
    padding: 0;
}
.links a {
    text-decoration: none;
    color: #fff;
}
.links li {
    display: inline-block;
    width: 140px;
    background-color: #4a8798;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}
.links li:hover {
    background-color: #1b5d70;
}

/*
  ========================================
  About ERICA
  ========================================
*/
#erica-logo {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 200px;
}

/*
  ========================================
  App section
  ========================================
*/
.app {
    background-color: #0a4859;
    border-radius: 10px;
    padding: 10px;
}
#input {
    display: inline-block;
    width: 50%;
    height: 300px;
}
#pond {
    position: relative;
    height: 200px;
    background-color: #7aadbc;
    background: linear-gradient(to top left, #523928 45%, transparent 45%),
                linear-gradient(#fff 10%,#396cf7 10%, #fff);
}
#control {
    height: 100px;    
    color: #aee5f4;
}
#output {
    display: inline-block;
    width: 50%;
    height: 300px;
    color: #aee5f4;
    padding: 10px;
}

/* Location elements */
.location {
    position: absolute;
    border: 2px solid;
    border-radius: 50%;
    background-color: #fff;
    padding: 10px;
}
.location:hover {
    font-size: 150%;
}
#water-surface {
    top: 7%;
    left: 25%;
}
#water {
    top: 33%;
    left: 25%;
}
#sediment-surface {
    top: 50%;
    right: 35%;
}
#sediment {
    bottom: 25%;
    right: 20%;
}