/*
  ========================================
  General
  ========================================
*/
body {
    color: #295B70;
    background-color: #fff;
    background: linear-gradient(to right, #7aadbc, #fff 15%);
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
.container {
    width: 940px;
    margin: 20px auto;
    background-color: #fff;
}
.text-content {
    line-height: 1.5;
    margin-bottom: 50px;
}

/*
  ========================================
  Header
  ========================================
*/
.header {
    background-color: #2f7183;
    color: #e0eef1;
    padding: 20px;
    border-radius: 10px;
}
.links-list {
    margin: 0;
    padding: 0;
}
.link {
    display: inline-block;
    width: 140px;
    background-color: #4a8798;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}
.link:hover {
    background-color: #1b5d70;
}
.link a {
    text-decoration: none;
    color: #fff;
}

/*
  ========================================
  About ERICA
  ========================================
*/
.logo {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 200px;
}

/*
  ========================================
  App section
  ========================================
*/
.app-frame {
    background-color: #0a4859;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: top;
}
.app-subframe {
    display: inline-block;
    width: 50%;
}
.output-frame {
    color: #aee5f4;
    padding: 10px;
    position: relative;
}
.pond-frame {
    position: relative;
    height: 200px;
    background-color: #7aadbc;
    background: linear-gradient(to top left, #523928 45%, transparent 45%),
                linear-gradient(#fff 10%,#396cf7 10%, #fff);
}
.control-frame {
    color: #aee5f4;
}


/* Location elements */
.location {
    position: absolute;
    border: 2px solid;
    border-radius: 50%;
    background-color: #fff;
    padding: 10px;
    transition: font-size 0.5s;
}

.location:hover,
.location:focus {
    font-size: 150%;
}
#water-surface {
    top: 7%;
    left: 25%;
}
#water {
    top: 33%;
    left: 25%;
}
#sediment-surface {
    top: 50%;
    right: 35%;
}
#sediment {
    bottom: 25%;
    right: 20%;
}

.selector {
    display: inline-block;
}

#calculate {
    position: absolute;
    bottom: 0;
}
