/*
  ========================================
  General
  ========================================
*/
body {
    color: #295B70;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
  ========================================
  Header and footer
  ========================================
*/
.main-header {
    background-color: #2f7183;
    color: #e0eef1;
}

.nav {
    background-color: #7aadbc;
}

/*
  ========================================
  App section
  ========================================
*/
.app {
    background-color: #0a4859;
}