/*
  ========================================
  General
  ========================================
*/
body {
    color: #295B70;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
  ========================================
  Header and footer
  ========================================
*/
.main-header {
    background-color: #2f7183;
    color: #e0eef1;
}

.nav {
    background-color: #7aadbc;
}

/*
  ========================================
  App section
  ========================================
*/
.app {
    background-color: #0a4859;
}

#input {
    display: inline-block;
    width: 50%;
    height: 30em;
}

#pond {
    height: 20em;
    background-color: #7aadbc;
    background: linear-gradient(to top left, #523928 45%, transparent 45%),
                linear-gradient(#fff 10%,#396cf7 10%, #fff);
}

#control {
    height: 10em;
    background-color: #a5bfc9;
}

#output {
    display: inline-block;
    width: 50%;
    height: 30em;
    background-color: #a5bfc9;
}